apiVersion: v1
kind: Secret
metadata:
    name: aws-credentials
    namespace: devops-tools
type: Opaque
data:
    key: 'ABR123' # your AWS_ACCESS_KEY_ID ->  echo -n "original-key" | base64
    id: 'NDQ=' # your AWS_SECRET_ACCESS_KEY -> echo -n "original-id" | base64