apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: devops-tools
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-server
  template:
    metadata:
      labels:
        app: jenkins-server
      annotations:
        linkerd.io/inject: enabled
    spec:
      securityContext:
          fsGroup: 1000
          runAsUser: 0
      serviceAccountName: jenkins-admin
      containers:
        - name: jenkins
          image: jenkins/jenkins:lts
          securityContext:
            runAsUser: 0
            privileged: true
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          ports:
            - name: httpport
              containerPort: 8080
            - name: jnlpport
              containerPort: 50000
          volumeMounts:
            - name: jenkins-data
              mountPath: /var/jenkins_home
            - name: dockersock
              mountPath: /var/run/docker.sock
              readOnly: false
            - name: docker-binary
              mountPath: "/usr/bin/docker"
              readOnly: False
      volumes:
        - name: jenkins-data
          persistentVolumeClaim:
              claimName: jenkins-pvc
        - name: dockersock
          hostPath:
            path: "/var/run/docker.sock"
        - name: docker-binary
          hostPath:
            path: "/usr/bin/docker"